:root {
    --color-bg:  hsl(36, 100%, 99%);
    
    --color-text-main:  hsl(240, 100%, 5%);
    --color-text-secondary: hsl(236, 13%, 42%);
    --color-accent: hsl(5, 85%, 63%);

    --color-text-secondary-aside: hsl(5, 85%, 63%)
    --color-accent-aside: hsl(35, 77%, 62%);
}